DB_ENGINE=Django-драйвер БД, по умолчанию django.db.backends.postgresql
DB_NAME=название БД
DB_HOST=хост работы БД
DB_PORT=порт работы БД
DB_USER=имя/пользователь в БД
DB_PASSWORD=пароль пользователя в БД

DEBUG=режим отладки, по умолчанию True
ALLOWED_HOSTS=строка с разрешенными хостами через запятую
SECRET_KEY=секретный ключ от Django-проекта

EMAIL_HOST_USER=почта с которой будут отправляться сообщения сервиса
EMAIL_HOST_PASSWORD=пароль приложения от email-сервиса
EMAIL_HOST=хост c которым будет идти работа
EMAIL_PORT=порт работы отправки email
EMAIL_USE_TLS=использование TLS, по умолчанию True
EMAIL_USE_SSL=использование SSL, по умолчанию False
EMAIL_BACKEND=вариант отправки email, по умолчанию console

PARTNERSHIP_AGREEMENT=ссылка-строка на соглашение о партнерстве

CELERY_BROKER_URL=база данных задач/брокер для Celery
CELERY_RESULT_BACKEND=база данных результатов для Celery
