DB_ENGINE=рекомендуется django.db.backends.postgresql
DB_NAME=название БД
DB_HOST=хост работы БД
DB_PORT=порт работы БД
DB_USER=имя/пользователь в БД
DB_PASSWORD=пароль пользователя в БД

DEBUG=режим отладки True/False
ALLOWED_HOSTS=строка с разрешенными хостами через запятую
SECRET_KEY=секретный ключ от Django-проекта

EMAIL_HOST_USER=почта с которой будут отправляться сообщения сервиса
EMAIL_HOST_PASSWORD=пароль приложения от email-сервиса
EMAIL_HOST=хост c которым будет идти работа
EMAIL_PORT=порт работы отправки email
EMAIL_USE_TLS=использовать TLS (True/False), если False, то применяется SSL

PARTNERSHIP_AGREEMENT=строка и ссылка на соглашение о партнерстве